body{
    padding: 20px;
    font-weight: bold;
    background: linear-gradient(to top left, #0a0a0a, #383636);
    background-color: #e9e6e4;
}


.header_icon{
    width: 250px;
    height: 100%;
    margin-bottom: 0px;
    align-items: center;
    vertical-align: text-bottom;
}

#percentage{
    font-size: 20px;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.slider{
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 10px;
    background: linear-gradient(to bottom right, #e95b24, #b96a35);
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 12px;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  cursor: pointer;
  border-radius: 50%;
}


.reset_button {
  background: linear-gradient(to bottom right, #e95b24, #b96a35);
  border: 0;
  width: 250px;
  opacity: 0.9;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.0;
  outline: transparent;
  margin-top: 8px;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.reset_button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.reset_button:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

